.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer);

  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.footer__block {
  align-items: baseline;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer-social-links {
  text-align: center;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__subtitle {
  margin: 0;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.footer__icon-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 60px;
}

.footer__link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  fill: var(--social-icon-color);
  background-color: var(--background-icons);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--excretion-color);
  }
}

.footer__address {
  font-style: normal;
  text-align: center;
  margin-bottom: 60px;
}

.footer__contacts--white {
  color: #fff;
}

.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-icons {
  fill: var(--white-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-left: 93px;
  width: 100%;
  height: 86px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.footer__form-fild {
  display: flex;
  flex-direction: column;
  // margin-bottom: 20px;
}

.footer__label {
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__input {
  height: 50px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--background-footer);
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--excretion-color);
  color: var(--white-color);
  border-color: var(--excretion-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.sign {
  margin: 0;
  margin-bottom: 60px;
  margin-left: 12px;
  background: var(--excretion-color);
  border-color: var(--excretion-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }
}

.icon-send {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding-left: 10px;
}
