:root {
  --text-color: #212121;
  --background-main: #fff;
  --white-color: #fff;
  --background-footer: #2f303a;
  --excretion-color: #2196f3;
  --background-fon: #f5f4fa;
  --contact-color: #757575;
  --social-icon-color: #afb1b8;
  --background-icons: #ffffff1a;
}
